
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Hata 404</title>
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- //Meta tags -->
	<link rel="stylesheet" href="/Hata404/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
	<link href="/Hata404/css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
	<!-- content -->
	<section class="w3l-error-block">
		<div class="mainw3 form">
			<div class="subscribe wrapper">
				<div class="subscribe-w3lsbottom text-center">
					<div class="w3l-page">
						Oops!
					</div>
					<h6>Aradığınız sayfa bulunamadı</h6>
					<h2>
						404
						
					</h2>
					
					<a class="theme-button btn" href="/Default/Index/">
						Anasayfa
					</a>
				</div>
				<!-- copyright -->
				<div class="copy-right text-center">
					<p>
						© @DateTime.Now.Year Hata sayfası 404 | GeziRehberim
					</p>
				</div>
				<!-- //copyright -->
			</div>
		</div>
		<!-- //content -->
		
		<!-- /popup -->
	</section>

</body>
</html>